# Wikidata

# All

In [61]:
import seaborn as sns
import pandas as pd

stats = pd.DataFrame(columns=["interval", "lines", "total", "valid", "variable_pred", "subquery", "pred_path"])

intervals = list(range(1, 8))

for i in intervals:
    lines = open(f"../queryshapes_wikidata_all_{i}.tsv").readlines()
    i_stats = [int(line.split("\t")[1]) for line in lines[:6]]
    stats = stats.append({"interval": i, "lines": i_stats[0], "total": i_stats[1], "valid": i_stats[2], "variable_pred": i_stats[3],
                  "subquery": i_stats[4], "pred_path": i_stats[5]}, ignore_index=True)
    
stats["variable_pred_pct"] = stats["variable_pred"] / stats["valid"] * 100
stats["subquery_pct"] = stats["subquery"] / stats["valid"] * 100
stats["pred_path_pct"] = stats["pred_path"] / stats["valid"] * 100
stats["valid_pct"] = stats["valid"] / stats["total"] * 100
stats = stats.append({
    "interval": 0,
    "lines": stats["lines"].sum(),
    "total": stats["total"].sum(),
    "valid": stats["valid"].sum(),
    "valid_pct": stats["valid"].sum() / stats["total"].sum() * 100,
    "variable_pred_pct": stats["variable_pred"].sum() / stats["valid"].sum() * 100,
    "subquery_pct": stats["subquery"].sum() / stats["valid"].sum() * 100,
    "pred_path_pct": stats["pred_path"].sum() / stats["valid"].sum() * 100,
}, ignore_index=True)

In [62]:
stats

,interval,lines,total,valid,variable_pred,subquery,pred_path,variable_pred_pct,subquery_pct,pred_path_pct,valid_pct
0,1,59547909,59547909,59536593,9847356,232362,12250030,16.54,0.390284,20.5756,99.981
1,2,66459799,66459799,66445716,6887450,231192,17563467,10.3655,0.347941,26.4328,99.9788
2,3,78000469,78000469,77975163,9765412,296257,20091359,12.5237,0.379938,25.7664,99.9676
3,4,101545006,101545006,101516443,28396284,115166,19410390,27.9721,0.113446,19.1204,99.9719
4,5,91827133,91827133,91804418,29407933,120099,20867334,32.0332,0.130821,22.7302,99.9753
5,6,96186795,96186795,96157585,26133344,168204,20032989,27.1776,0.174925,20.8335,99.9696
6,7,82211741,82211741,82192667,28644390,137902,22878513,34.8503,0.167779,27.8352,99.9768
7,0,5.75779e+08,5.75779e+08,5.75629e+08,NaN,NaN,NaN,24.1618,0.226045,23.1215,99.9739

## Organic

In [63]:
import seaborn as sns
import pandas as pd

stats = pd.DataFrame(columns=["interval", "lines", "total", "valid", "variable_pred", "subquery", "pred_path"])

intervals = list(range(1, 8))

for i in intervals:
    lines = open(f"../queryshapes_wikidata_organic_{i}.tsv").readlines()
    i_stats = [int(line.split("\t")[1]) for line in lines[:6]]
    stats = stats.append({"interval": i, "lines": i_stats[0], "total": i_stats[1], "valid": i_stats[2], "variable_pred": i_stats[3],
                  "subquery": i_stats[4], "pred_path": i_stats[5]}, ignore_index=True)
    
stats["variable_pred_pct"] = stats["variable_pred"] / stats["valid"] * 100
stats["subquery_pct"] = stats["subquery"] / stats["valid"] * 100
stats["pred_path_pct"] = stats["pred_path"] / stats["valid"] * 100
stats["valid_pct"] = stats["valid"] / stats["total"] * 100
stats = stats.append({
    "interval": 0,
    "lines": stats["lines"].sum(),
    "total": stats["total"].sum(),
    "valid": stats["valid"].sum(),
    "valid_pct": stats["valid"].sum() / stats["total"].sum() * 100,
    "variable_pred_pct": stats["variable_pred"].sum() / stats["valid"].sum() * 100,
    "subquery_pct": stats["subquery"].sum() / stats["valid"].sum() * 100,
    "pred_path_pct": stats["pred_path"].sum() / stats["valid"].sum() * 100,
}, ignore_index=True)

In [64]:
stats

,interval,lines,total,valid,variable_pred,subquery,pred_path,variable_pred_pct,subquery_pct,pred_path_pct,valid_pct
0,1,192330,192330,188378,24698,25094,34247,13.1109,13.3211,18.1799,97.9452
1,2,200726,200726,197084,28935,29907,36464,14.6816,15.1747,18.5018,98.1856
2,3,268464,268464,265674,37954,31220,33473,14.2859,11.7512,12.5993,98.9608
3,4,500339,500339,497031,247308,37529,259409,49.7571,7.55064,52.1917,99.3388
4,5,600767,600767,597642,224939,37401,253901,37.6377,6.25809,42.4838,99.4798
5,6,895767,895767,891868,270422,43630,285433,30.3209,4.89198,32.004,99.5647
6,7,872555,872555,869606,259744,43869,263502,29.8692,5.0447,30.3013,99.662
7,0,3.53095e+06,3.53095e+06,3.50728e+06,NaN,NaN,NaN,31.1922,7.08953,33.2573,99.3298

# USEWOD

In [65]:
import seaborn as sns
import pandas as pd

stats = pd.DataFrame(columns=["interval", "lines", "total", "valid", "variable_pred", "subquery", "pred_path"])

intervals = range(2013, 2017)

for i in intervals:
    lines = open(f"../queryshapes_usewod_{i}.tsv").readlines()
    i_stats = [int(line.split("\t")[1]) for line in lines[:6]]
    stats = stats.append({"interval": i, "lines": i_stats[0], "total": i_stats[1], "valid": i_stats[2], "variable_pred": i_stats[3],
                  "subquery": i_stats[4], "pred_path": i_stats[5]}, ignore_index=True)
    
stats["variable_pred_pct"] = stats["variable_pred"] / stats["valid"] * 100
stats["subquery_pct"] = stats["subquery"] / stats["valid"] * 100
stats["pred_path_pct"] = stats["pred_path"] / stats["valid"] * 100
stats["valid_pct"] = stats["valid"] / stats["total"] * 100
stats = stats.append({
    "interval": 0,
    "lines": stats["lines"].sum(),
    "total": stats["total"].sum(),
    "valid": stats["valid"].sum(),
    "valid_pct": stats["valid"].sum() / stats["total"].sum() * 100,
    "variable_pred_pct": stats["variable_pred"].sum() / stats["valid"].sum() * 100,
    "subquery_pct": stats["subquery"].sum() / stats["valid"].sum() * 100,
    "pred_path_pct": stats["pred_path"].sum() / stats["valid"].sum() * 100,
}, ignore_index=True)

In [72]:
stats

,interval,lines,total,valid,variable_pred,subquery,pred_path,variable_pred_pct,subquery_pct,pred_path_pct,valid_pct
0,2013,12044165,11821713,11533888,4231018,50485,98,36.6834,0.43771,0.00084967,97.5653
1,2014,368358,305097,282689,16374,555,1428,5.79223,0.196329,0.505149,92.6555
2,2015,13771217,12993744,12480267,725358,88774,60281,5.81204,0.711315,0.48301,96.0483
3,2016,35124962,35093728,33894154,9011494,145726,110643,26.5872,0.429944,0.326437,96.5818
4,0,6.13087e+07,6.02143e+07,5.8191e+07,NaN,NaN,NaN,24.0316,0.490694,0.296352,96.6399